/******************************************\
                $CSS Reset
\******************************************/

/* basic elements */
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, th, td
{
margin: 0; padding: 0; border: 0; outline: none;
}

body
{
line-height: 1;
}

h1, h2, h3, h4, h5, h6
{
padding: .6em 0;
margin: 0 0;
}

ul, ol
{
list-style: none;
}

a
{
color: green;
text-decoration: none;
}

a:hover
{
text-decoration: none;
color: #EBB000;
}

/******************************************\
                $Main
\******************************************/

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

/***Welcome section***/

.welcome {
    background-image: url(images/Untitled-billybonds.jpg);       /*When saving an image from Photoshop, whatever part of the background (even if it's transparent) the actual img doesn't cover gets added as whitespace around it. So, when you add the img in CSS and try to make it "cover" the full screen in the browser window it has some whitespace around it where it  didn't cover the background pixels of the Photoshop document it was in.    My solution: Find out the dimensions of the actual img and make the Photoshop document the same size or slightly smaller. Result: When you save the img (jpeg, png, etc.) and use it on your webpage, there won't be any whitespace around it acting as a buffer between the actual img and the edges of the div, element, window, etc. */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/***Company Logo***/

.companyLogo-container {
    display: flex;
    justify-content: center;
}

.companyLogo {
    margin-top: 20px;
}

/***Intro headings***/

.welcome-text {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 39%;
    color: white;

}

#intro {
    text-align: center;
    line-height: 1.2;
    padding: 0;
    margin-bottom: 10px;
}

#intro-end-sentence {
    text-align: center;
    padding: 0;
}

/***About section***/

.about {
    margin-bottom: 30px;
}

/***About headings***/

#about-section-heading {
    color: #534742;
    text-align: center;
    padding: 0;
    margin-top: 70px;                    /* Actual PSD measurement is approx. 70px */
    margin-bottom: 50px;              /* Actual PSD measurement is approx. 70px */
}

.about-first-paragraph {
    padding: 0 5%;     /* gives text equal space on left & right, and thus keeps it centered in window, while text being left-aligned */
    margin-bottom: 30px;
}

#meet-team-heading {
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
    color: #87765d;
}

.about-final-paragraph {
    padding: 0 5%;       /* gives text equal space on left & right, and thus keeps it centered in window, while text being left-aligned */
}

/***Team Slider CSS***/

.team-carousel-outmost-container {
    display: flex;
    justify-content: center;
}

.carousel-outer-container {
    width: 200px;
    height: 200px;
    border: 5px black solid;
    overflow: hidden;
}

.carousel-inner {
    width: 1200px;
    height: 200px;
    margin: 0;
    font-size: 0;           /*Gets rid of the space between the img elements, because a space with a size 0 font means:                                                 no space. Why the space? Img elements have a default CSS style of "display: inline-block", which puts spaces b/w the elements set on that LINE (like a sentence). */
    transform: translate3d(0, 0, 0);
    transition: transform .5s ease-in-out;
}

.sliding-image {
    width: 200px;
    height: 200px;
}

.navLinks {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.navLinks ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-top: 6px;
    font-size: small;
}

.itemLinks {
    float: left;
    text-align: center;
    margin: 8.5px;
    list-style: none;
    cursor: pointer;
    background-color: #CCCCCC;
    padding: 5px;         /*   There is nothing b/w the opening and closing li tags, so the "background-color" property won't show up since there's nothing to show up behind....adding "padding" to this element adds some size to it (previously MIA) and thus the background color shows up and it's not just a black circle (a result of the "border" property).   */
    border-radius: 50%;
    border: black 3px solid;  /*not sure if this will be a functional size*/
}

.itemLinks:hover {
    background-color: #FFFF00;
}

.itemLinks.active {
    background-color: #333333;
    color: #FFFFFF;
    outline-width: 7px;  /* not sure what this does...or if this will be a functional size*/
}

.itemLinks.active:hover {
    background-color: #4848484;           /*Is this property necessary?*/
    color: #FFFFFF;
}

/***Portfolio section***/

.Portfolio {
    padding-top: 40px;
    background: #5c856c;
}

#portfolio-section-heading {
    text-align: center;
    padding: 0;
    color: white;
    margin-bottom: 50px;
}


/***Portfolio Slider CSS***/

.portfolio-carousel-outmost-container {
    display: flex;
    justify-content: center;
}

.portfolio-carousel-outer-container {
    width: 235px;     /* Not all may be 235px wide */
    height: 135px;
    border: 5px black solid;
    overflow: hidden;
}

.portfolio-carousel-inner {
    width: 1880px;
    height: 135px;
    margin: 0;
    font-size: 0;     /*Gets rid of the space between the img elements, because a space with a size 0 font means:                                                 no space. Why the space? Img elements have a default CSS style of "display: inline-block", which puts spaces b/w the elements set on that LINE (like a sentence). */
    transform: translate3d(0, 0, 0);
    transition: transform .5s ease-in-out;
}

.portfolio-sliding-image {
    width: 235px;
    height: 135px;
}

.portfolio-navLinks {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.portfolio-navLinks ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-top: 6px;
    font-size: small;
}

.portfolio-itemLinks {
    float: left;
    text-align: center;
    margin: 6.5px;
    list-style: none;
    cursor: pointer;
    background-color: #CCCCCC;
    padding: 5px;         /*   There is nothing b/w the opening and closing li tags, so the "background-color" property won't show up since there's nothing to show up behind....adding "padding" to this element adds some size to it (previously MIA) and thus the background color shows up and it's not just a black circle (a result of the "border" property).   */
    border-radius: 50%;
    border: black 3px solid;  /*not sure if this will be a functional size*/
}

.portfolio-itemLinks:hover {
    background-color: #FFFF00;
}

.portfolio-itemLinks.active {
    background-color: #333333;
    color: #FFFFFF;
    outline-width: 7px;  /* not sure what this does...or if this will be a functional size*/
}

.portfolio-itemLinks.active:hover {
    background-color: #4848484;           /*Is this property necessary?*/
    color: #FFFFFF;
}

/***Contact section***/

.contactUs {
    margin-top: 40px;
}

#contactUs-section-heading {
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
    color: #534742;
}

/***Form CSS***/

.contact-form-section {
    text-align: center;
}

.emailBox {
    margin-bottom: 5px;
}

.nameBox {
    margin-bottom:5px;
}

.messageBox {
    width: 168px;
    height: 80px;
}

.sendButton {
    margin-top: 10px;
    margin-bottom: 25px;
}

/***Back to Top Button***/

.top-button {
    display: flex;
    justify-content: center;
}

.backToTopButton {
    padding: 20px;
    background-color: lightblue;
}

.backToTopButton span {

}

/***social media icons***/      /* courtesy of Font Awesome */

.socialMediaIcons {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
